.button{
    text-align: center;
    padding-bottom: 94px;
}
a.button{
    color: white;
    text-decoration: none;
    background-color: #16A085;
    font-family: AdobeInvisFont,Roboto-Black,Courier;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 44px;
    padding-left: 44px;
    font-size: 14px;
    border-radius: 2px;
}
a.button:hover{
    background-color: rgb(2, 109, 104);
    transition: 0.2s ease-in-out;
}