.text{
    color: #373737;
    text-align: center;
    font-family: AdobeInvisFont,Roboto-Black,Courier;
    margin-bottom: 40px;
    margin-right: 112px;
    margin-left: 112px;
    font-size: 16px;
}   