.heading{
    text-align: center;
    text-transform: uppercase;
    color: #373737;
    font-family: AdobeInvisFont,Roboto-Black,Courier;
    font-weight: bold;
    margin-top: 56px;
    margin-bottom: 34px;
    font-size: 22px;
}