.header{
    background-color: white;
    color: #16A085;
    text-transform: uppercase;
    font-weight: bold;
    font-family: AdobeInvisFont,Roboto-Black,Courier;
    text-align: center;
    margin-top: 32px;
    font-size: 18px; 
}
a{
    color: #16A085;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
li{
    display: inline;
    margin: 66px;
}
li a:hover{
    color: darkslategrey;
    transition: 0.2s ease-in-out;
}